body{
	margin: 0;
}

h3 {
	text-align: center;
	margin-top: -10px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	display: block;
	float: left;
	padding: 5px;
}

a{
	text-decoration: none;
	color: black;
}

a:hover {
	color: red;
}

p.home{
  white-space: nowrap; 
  width: 200px; 
  overflow: hidden;
  text-overflow: ellipsis;
}

p.lapor{
  width: 250px;
  word-break: keep-all;
}

textarea{
	width: 500px;
	height: 200px;
}

select{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 500px;
}

#header{
	width: 100%;
	height: 100px;
	padding-top: 20px;
	text-align: center;
	color: #fff;
	background-color: #000;
}

#content{
	position:relative;
	background:#eee;
	margin:0px 30px;
	padding: 20px;
	min-height: 500px;
}

#footer{
	width: 100%;
	height: 40px;
	background-color: #000;
	text-align: center;
	color: #fff;
	margin-top: -16px;
}

.teksputer{
	padding-top: 10px;
	margin-bottom: -5px;
}